  {% if layout.type == 'post' or layout.type == 'photo' %}
 {% include _partial/head.html %}
  <body>
    <header>
        {% include _partial/header.html %}
    </header>
    <div id="container">
      {{ content }}
      {% assign item = page %}
      {% assign table = true %}
      {% include _partial/sidebar.html %}
    </div>
    <footer>{% include _partial/footer.html %}</footer>
    {% include _partial/after_footer.html %}
  </body>
</html>
{% elsif layout.type == 'page' %}
    {% include _partial/head.html %}
      <body>
        <header>
          {% include _partial/header.html %}
        </header>
        <div id="container">
          {{ content }}
        </div>
        <footer>{% include _partial/footer.html %}</footer>
        {% include _partial/after_footer.html %}
      </body>
     </html>
{% elsif layout.type == 'search' %}
{% include _partial/head.html %}
    <body>
      <header>
        {% include _partial/header.html %}
      </header>
      <div id="container">
      {% include _partial/search.html %}
      </div>
      <footer>{% include _partial/footer.html %}</footer>
      {% include _partial/after_footer.html %}
    </body>
   </html>
{% elsif layout.type == 'categories' or layout.type == 'tags' or layout.type == 'archives' %}
  {% include _partial/head.html %}
    <body>
      <header>
        {% include _partial/header.html %}
      </header>
      <div id="container">
        {{ content }}
      </div>
      <footer>{% include _partial/footer.html %}</footer>
      {% include _partial/after_footer.html %}
    </body>
   </html>
{% else %}
        {% include _partial/head.html %}
  <body>
    <header>
        {% include _partial/header.html %}
    </header>
    <div id="container">
      {{ content }}
      {% assign item = page %}
      {% assign table = false %}
      {% include _partial/sidebar.html %}
    </div>
    <footer>{% include _partial/footer.html %}</footer>
    {% include _partial/after_footer.html %}
  </body>
 </html>
{% endif %}